
<button (click)="GoBack()" class="btn btn-primary">
  Go Back
</button>
<h1>Add categorie</h1>
<div class="container" >
<h3>Create categories</h3>
<div   style="width: 400px;">
  <form (ngSubmit)="addCategories()">
    <div class="form-group">
      <label >Name</label>
      <input type="text" class="form-control" id="nom" name="nom" required [(ngModel)]="categorie.nom">
    </div>

    <div class="form-group">
      <label >quatité</label>
      <input type="number" class="form-control" id="qte" name="qte" required [(ngModel)]="categorie.qte">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</div>
