
<h1>Liste des Categories</h1><br><br>
<div class="container">
  <button class="btn btn-success" (click)=goCreate()>Add Categorie</button><br><br>
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching ">
  <br><br>
  <table class="table table-hover" id="excel-table">
    <thead>
      <th>Nom</th>
      <th>qte</th>
      <th>date creation</th>
      <th>date modif</th>
      <th>Action </th>
    </thead>
    <tbody>
      <tr *ngFor="let p of listCategories| filter : searchText">
        <td>{{ p.nom }}</td>
        <td>{{ p.qte }}</td>
        <td>{{ p.date_creation }}</td>
        <td>{{ p.date_modif }}</td>
        <td><button class="btn btn-success" (click)=goCreateProduit(p.id)>Add Produit</button></td>
        <td><button class="btn btn-danger" (click)=delete(p.id)>Delete</button></td>
        <td><button class="btn btn-warning" (click)=GoEdit(p.id)>Edit</button></td>
        <td><button class="btn btn-info" (click)=GoDetail(p.id)>Detail</button></td>
      </tr>
    </tbody>
  </table>
 <!-- <button (click)="getListCategories()" class="btn btn-primary">
    Get Categories
  </button>-->
  <button class="btn btn-secondary" (click)=openPDF()>Export PDF</button>
  <button class="btn btn-secondary" (click)=exportToExcel()>Export Excel</button>
</div>