

<div >
    <h4>Detail Produit</h4>
    <hr />
    <dl class="dl-horizontal" >
        <dt>
            Nom
        </dt>

        <dd>
            {{produit.nom}}
        </dd>

        <dt>
           Quantite
        </dt>

        <dd>
            {{produit.qte}}
        </dd>

        <dt>
            Disponibilite
        </dt>

        <dd>
            {{produit.disponibilite}}
        </dd>
        <dt>
            Date Creation
        </dt>

        <dd>
            {{produit.date_creation}}
        </dd>
        
        

    </dl>
</div>
