
<h1>Liste des Produits</h1>
<div class="container"><br><br>
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching "><br><br>
  <table class="table table-hover">
    <thead>
      <th>Nom</th>
      <th>qte</th>
      <th>disponibilite</th>
      <th>date creation</th>
      <th>date modif</th>
      <th>Action </th>
    </thead>
    <tbody>
      <tr *ngFor="let p of listProduits| filter : searchText">
        <td>{{ p.nom }}</td>
        <td>{{ p.qte }}</td>
        <td>{{ p.disponibilite }}</td>
        <td>{{ p.date_creation }}</td>
        <td>{{ p.date_modif }}</td>
        <td><button class="btn btn-danger" (click)=delete(p.id)>Delete</button></td>
        <td><button class="btn btn-warning" (click)=GoEdit(p.id)>Edit</button></td>
        <td><button class="btn btn-info" (click)=GoDetail(p.id)>Detail</button></td>
      </tr>
    </tbody>
  </table><br><br><br>
  <button (click)="GoBack()" class="btn btn-info">
    Go Back
  </button>
</div>